/*
 * Birtat Kebap 
 * Özel Otomasyon Sistemi
 * Private otomasyon system.
 */

body {
  background-color: #fff;
  color: #474747;
  font-size: 14px; 	
  font-weight: 500;
  font-family: "Open Sans" !important;
  line-height: 24px;
  padding: 40px 0 0 0;
  margin: 0;
} 
label,
.label {
  font-family: "Open Sans" !important;
}
.m-b-0 {margin-bottom: 0;}
.m-t-0 {margin-bottom: 0;}
.m-l-10 {margin-left: 10px!important;}
.m-r-10 {margin-right: 10px;}

/*  header */
.header .navbar-default {
  border-bottom: 4px solid #97310E;
}
.header .navbar-default ul > li > a {
  font-size: 14px;
}
.header .navbar-default ul > li > a i.fa {
  margin-right: 4px;
}
.header .navbar-form {
	margin-top: 10px;
}  
.header .navbar-form .form-control {
  border-color: #fff;
}
.header .navbar-form .form-control:focus {
  border-color: #fff;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

/* login */
.login .login-box,
.login .form-group label {
  font-family: "Open Sans" !important;
}
.login .login-box {
  width: 250px;
  margin: 0 auto;
}

/* .home */
.home .well h1 { margin-top: 0px;  }
.home .well h1 small { font-size: 16px;  margin-bottom: 10px;  }
.home .well h1 small.price { font-size: 18px; color: #474747; }

/* .panel */
.panel .panel-heading h1,
.panel .panel-heading h2,
.panel .panel-heading h3,
.panel .panel-heading h4,
.panel .panel-heading h5,
.panel .panel-heading h6 {
	margin-top: 5px;
	margin-bottom: 5px;
}

/* .product-list */
.product-list {
	border: 1px solid #ddd;
	height: 300px;
	overflow-x: hidden !important;
	overflow-y: scroll;
}
.well.text-center {
	padding: 20px 0 20px 0;
}

/*  .footer */
.footer {
	margin: 10px 0;
}